<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_mvc_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-mvc/web/web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.aspectj:aspectjweaver:1.9.7" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.1.6.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>